.card {
    position: relative;
    height: fit-content;

    &--image {
        display: block;
        width: auto;
        height: 20rem;
        // opacity: 1; // ???
    }

    &--overlay {
        position: absolute;
        opacity: 0;
        bottom: 0;
        right: 0;
        top: 100%;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0.5s ease;
        background-color: rgba(0, 0, 0, 0.8);
        
        &--text {
            color: white;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover &--overlay {
        // display: block;

        top: 70%;
        height: 30%;
        opacity: 0.8;
    }
}