.pictureitem--container {
    padding: 0 0.4rem 0 0.4rem;
    max-width: 100%;
    
    &--item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--img {
            max-width: 100%;
            border-radius: 0.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    
        &--description {
            text-align: center;

            &--title {
                padding-top: 0.3rem;
                font-size: 1.2rem;
            }

            &--dimensions {
                padding-top: 0.3rem;
            }
        }
    }
}