@import "../Basics/mixins";

.about {
  width: 66%;
  margin: 0 auto;

  &--title {
    padding-top: 2rem;
    padding-bottom: 1.4rem;

    transform: translateX(-20vw);
    opacity: 0;
    transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;

    &.slide-in-about-title {
      transform: none;
      opacity: 1;
    }
  }

  &--content {
    display: flex;
    flex-direction: row;

    &--image {
      width: 40%;
      max-width: 16rem;
      height: 100%;

      transform: translateX(-20vw);
      opacity: 0;
      transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;

      &.slide-in-about-image {
        transform: none;
        opacity: 1;
      }

      @include md {
        width: 80%;
        align-self: center;
      }
    }

    &--textcontainer {
      margin-left: 4rem;

      transform: translateX(20vw);
      opacity: 0;
      transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;

      &.slide-in-about-text {
        transform: none;
        opacity: 1;
      }

      &--text {
        text-align: justify;

        @include md {
          text-align: left;
        }
      }

      @include md {
        margin-left: 0;
        margin-top: 1rem;
      }
    }

    @include md {
      flex-direction: column;
    }
  }

  &--header {
    font-size: 1.2rem;
    padding-top: 2rem;
  }

  &--text {
    padding-top: 0.4rem;
  }
}

.margintop {
  margin-top: 0.6rem;
}
