@import "../Basics/mixins";

.art {
  width: 66%;
  margin: 0 auto;

  &--title {
    padding-top: 2rem;
    padding-bottom: 1.4rem;
  }

  &--content {
    display: flex;
    flex-direction: row;

    &--textcontainer {
      margin-right: 4rem;
      text-align: justify;

      &--margintop {
        margin-top: 0.6rem;
      }
    }

    &--image {
      width: 28rem;
      height: 100%;
    }
  }

  &--header {
    font-size: 1.2rem;
    padding-top: 2rem;
  }

  &--text {
    padding-top: 0.4rem;
  }

  @include md {
    width: 85%;
  }
}
