@import "../Basics/mixins";

$medium: 1100px;
$small: 800px;
$xsmall: 550px;

.partners {
  width: 66%;
  margin: 0 auto;

  &--title {
    padding-top: 2rem;
    padding-bottom: 1.4rem;

    transform: translateX(-20vw);
    opacity: 0;
    transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;

    &.slide-in-partners-title {
      transform: none;
      opacity: 1;
    }
  }

  &--content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    @media screen and (max-width: $medium) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $small) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $xsmall) {
      grid-template-columns: repeat(1, 1fr);
    }

    opacity: 0;
    transform: translateY(20vh);
    transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;

    &.slide-in-partners-content {
      transform: none;
      opacity: 1;
    }
  }
}
