.contact {
    width: 66%;
    margin: 0 auto;

    &--title {
        padding-top: 2rem;
        padding-bottom: 1.4rem;
    }

    &--formcontainer {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        width: 100%;
        max-width: 40rem;
        // width: 40rem;

        &--name {
            // width: 40rem;
            margin-bottom: 0.2rem;
            border: none;
            border-radius: 0.4rem;
            background-color: rgba(230, 230, 230, 1);
            padding: 0.3rem 0 0.3rem 0.2rem;
            align-content: end;

            &:focus {
                outline-color: rgba(0, 0, 0, 0.8);
            }
        }

        &--firstname {
            // width: 40rem;
            margin-bottom: 0.2rem;
            border: none;
            border-radius: 0.4rem;
            background-color: rgba(230, 230, 230, 1);
            padding: 0.3rem 0 0.3rem 0.2rem;

            &:focus {
                outline-color: rgba(0, 0, 0, 0.8);
            }
        }

        &--mail {
            // width: 40rem;
            margin-bottom: 0.8rem;
            border: none;
            border-radius: 0.4rem;
            background-color: rgba(230, 230, 230, 1);
            padding: 0.3rem 0 0.3rem 0.2rem;

            &:focus {
                outline-color: rgba(0, 0, 0, 0.8);
            }
        }

        &--subject {
            // width: 40rem;
            margin-bottom: 0.2rem;
            border: none;
            border-radius: 0.4rem;
            background-color: rgba(230, 230, 230, 1);
            padding: 0.3rem 0 0.3rem 0.2rem;

            &:focus {
                outline-color: rgba(0, 0, 0, 0.8);
            }
        }

        &--message {
            // width: 40rem;
            height: 16rem;
            margin-bottom: 0.2rem;
            border: none;
            border-radius: 0.4rem;
            background-color: rgba(230, 230, 230, 1);
            padding: 0.3rem 0 0.3rem 0.2rem;

            &:focus {
                outline-color: rgba(0, 0, 0, 0.8);
            }
        }

        &--datawrapper {
            display: flex;
            flex-direction: row;
            // justify-content: end;
            padding: 0.3rem 0 0.3rem 0.3rem;

            &--checkbox {
                margin-right: 0.3rem;
            }

            &--text {
                text-align: left;

                &--button {
                    text-decoration: none;
                }

                &--button:hover {
                    color: rgba(0, 0, 0, 0.6);
                }
            }


        }

        &--button {
            align-self: flex-start;
            width: 6rem;
            border: none;
            border-radius: 0.4rem;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 0.3rem 0;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.7)
            }
        }

        &--button.disabled {
            background-color: rgba(0, 0, 0, 0.3);

            &:hover {
                cursor: default;
            }
        }
    }
}