@import '../Basics/mixins';

.exhibitionyear--container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    &--year {
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        font-weight: 500;

        opacity: 0;
        transform: translateX(-20vw);
        transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;

        &.slide-in-exhibition-year {
            opacity: 1;
            transform: none;
        }
    }

    @include md {
        flex-direction: column;

        &--year {
            margin-bottom: 1rem;
        }
    }
}