@import "../Basics/mixins";

.navbar {
  background-color: #3a3a3a;

  &--container {
    display: flex;
    justify-content: space-between;

    transform: translateX(-20vw);
    opacity: 0;
    transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;

    &.slide-in-nav {
      transform: translateX(0);
      opacity: 1;
    }

    &--title {
      display: none;

      align-self: center;

      padding-right: 0.6rem;

      color: white;
      font-size: 1.6rem;
      font-weight: 10;
      text-decoration: none;

      &--surname {
        font-weight: 600;
        color: white;
      }
    }
  }

  &--menu {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
  }

  &--item {
    width: 100%;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: white;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
    }
  }

  &--dropdown {
    display: block;

    &--menu {
      background-color: #3a3a3a;
      list-style: none;
      position: absolute;
      z-index: 10;
    }

    &--item {
      padding: 0.6rem 0;
      text-decoration: none;
      color: white;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
      }
    }
  }

  &--sub--dropdown {
    &--menu {
      display: block;
      position: absolute;
      top: 2.3rem;
      left: 100%;
      background-color: #3a3a3a;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &--item {
      padding: 0.6rem 0;
      text-decoration: none;
      color: white;
    }
  }

  &--title {
    display: none;

    align-self: center;

    padding-right: 0.6rem;

    color: white;
    font-size: 1.6rem;
    font-weight: 10;
    text-decoration: none;

    &--surname {
      font-weight: 600;
      color: white;
    }
  }

  &--hamburger {
    display: none;
    height: min-content;
  }

  &--hamburgermenu {
    display: none;

    &--item {
      display: none;

      &.show {
        display: none;
      }
    }

    &.show {
      display: none;
    }

    &--dropdown {
      &--content {
        &.show {
          display: none;
        }
      }
    }
  }

  @include md {
    width: 100%;

    &--container {
      transform: translateX(0) translateY(-10vh);
      opacity: 0;
      transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;

      &.slide-in-nav {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &--title {
      display: block;
    }

    &--menu {
      display: none;
    }

    &--hamburger {
      display: block;
    }

    &--hamburgermenu {
      display: none;
      height: 0;
      width: 100%;
      opacity: 0;
      transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
      /* Apply transition to height, opacity */

      display: flex;
      flex-direction: column;

      &--item {
        display: none;
        padding: 0.6rem 0.9rem;
        max-width: fit-content;
        text-decoration: none;
        color: white;

        &:hover {
          color: rgba(255, 255, 255, 0.6);
          cursor: pointer;
        }

        &.show {
          display: block;
        }
      }

      &.show {
        display: flex;
        margin-top: 0.4rem;
        height: 31rem;
        opacity: 1;
      }

      &--dropdown {
        &--button {
          padding-left: 0.9rem;
          padding-bottom: 0.4rem;
          text-decoration: none;
          color: white;
        }

        &--content {
          display: none;
          flex-direction: column;

          &.show {
            display: flex;
          }

          &:last-child {
            &--verticalline {
              border-left: 1px solid white;
              height: 1rem;
            }
          }

          &--row {
            padding-left: 1.6rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.2rem;

            &--verticalline {
              border-left: 1px solid white;
              height: 2.2rem;

              &--last {
                align-self: flex-start;
                border-left: 1px solid white;
                height: 1.1rem;
              }

              &--big {
                border-left: 1px solid white;
                height: 11rem;
              }
            }

            &--horizontalline {
              border-bottom: 1px solid white;
              width: 20px;
            }

            &--item {
              padding-left: 0.4rem;

              color: white;
              text-decoration: none;

              &:hover {
                color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
  }
}
